@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1;
}

html {
  font-size: 16px;
}

h1 {
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
  color: black;
}
h1 a:focus {
  color: hotpink;
}

aside,
section {
  width: min(700px, 90vw);
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9rem;
  min-width: min(400px, 90vw);
  text-align: left;
}

table caption {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

table thead tr {
  background-color: #0a86bf;
  color: white;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #0a86bf;
}

table:nth-child(2) tr th,
table:nth-child(2) tr td {
  font-family: monospace;
}

section article {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
section article aside {
  width: unset;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
}
